body {
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}


.forma {
  width=30%;
  margin: 0 auto; 
  width:1200px;
}

.ewan {
  width: 30%;
  color: rgb(0, 0, 0);
  text-align: right;
  font-size: 20px;
  font-weight: thin;
}

.nike {

    width: 30%;
    display: inline-block;
    background-color: aquamarine;
}

.navbar {
  width: 30%;
  overflow: hidden;
  background-color: rgb(124, 122, 122);
  border-style: solid;
  border-width: thin;
  background-color:rgb(202, 146, 146);
  color: green;
 }
 
 .navbar hover {
  width: 30%;
  overflow: hidden;
  background-color: rgb(124, 122, 122);
  border-style: solid;
  border-width: thin;
  background-color:#FF0000;
  color: green;
 }

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: none;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.center {
  text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
  outline: 
}